<table class="footer-table" width="600" border="0" cellpadding="10" cellspacing="0" align="center" bgcolor="#ffffff">
  <tr>
    <td height="10">
    </td>
  </tr>
  <tr>
    <td class="footer-table-td">
      This is the footer content
    </td>
  </tr>
  <tr>
    <td height="10">
    </td>
  </tr>
</table>

