<table class="header-table" width="600" border="0" cellpadding="10" cellspacing="0" align="center" bgcolor="#ffffff">
  <tr>
    <td class="header-h1">
      This is the header
    </td>
  </tr>
</table>
