<!-- Images share the following CSS code: max-width: 100%; display: block; Anything else
    is usually unique to each image. It is a best practice to explicitly set the height
    and width of the image to be the true height and width. However, you may also set them
    to be a ratio of the true height and width and adjust as needed.
 -->
<table class="img-table" width="600" border="0" cellpadding="10" cellspacing="0" align="center" bgcolor="#ffffff">
  <tr>
    <td align="center">
      <img src="http://placekitten.com/200/400" alt="image alt" title="image title">
    </td>
    <td class="centered-img" align="center">
      <img src="http://placekitten.com/200/400" alt="image alt" title="image title">
    </td>
  </tr>
  <tr>
    <td align="left">
      <img src="http://placekitten.com/200/400" alt="image alt" title="image title" class="center-img">
    </td>
    <td>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    </td>
  </tr>
  <tr>
    <td>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    </td>
    <td align="right">
      <img src="http://placekitten.com/200/400" alt="image alt" title="image title" class="center-img">
    </td>
  </tr>
</table>

