<table class="main-table" width="600" border="0" cellpadding="10" cellspacing="0" align="center" bgcolor="#ffffff">
  <tr>
    <td>

      {{>modules/_single_column}}

      {{>modules/_two_column}}

    </td>
  </tr>
  <tr>
    <td height="10">
    </td>
  </tr>
</table>

