<table class="single-table" border="0" cellpadding="10" cellspacing="0" align="center" bgcolor="#ffffff">
  <tr>
    <td class="single-column-td">
      {{text}} The epoch is {{time 28800000}}
    </td>
  </tr>
  <tr>
    <td>
      {{>modules/_button}}
    </td>
  </tr>
</table>

