<table class="main-table" width="600" border="0" cellpadding="10" cellspacing="0" align="center" bgcolor="#ffffff">
  <tr>
    <td>

      <table class="two-table" width="280" border="0" cellpadding="10" cellspacing="0" align="left" bgcolor="#ffffff">
        <tr>
          <td class="two-column-td">
            Column 1
          </td>
        </tr>
      </table>

      <table class="two-table" width="280" border="0" cellpadding="10" cellspacing="0" align="right" bgcolor="#ffffff">
        <tr>
          <td class="two-column-td">
            Column 2
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

